#DestinationSelection {
    height: 100vh;
}

.centered-rectangle {
    width: 1100px; 
    height: 480px; 
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid #00ffe7;
    border-radius: 20px; 
    align-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}